.swiper-slide p{
    margin-left: 20px;
    margin-right: 15px;
}


/* nav bar */
:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  body,
  html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
  }
  
  #ham-menu {
    display: none;
  }
  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
  }
  .ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: rgb(152, 119, 172);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }
  .ham-menu > ul > li {
    font-size: 2rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: rgb(136, 20, 165);
    transition: all 1s ease;
  }

  .ham-menu > ul > li a{
    text-decoration: none;
    color: black;
  }

  .ham-menu > ul > li:hover{
      transform: (1.2,1.2);
  }
  #ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--dark-green);
  }
  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }
  .full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }
  #ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
  }
  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
  }
  #ham-menu:checked + label span {
    background-color: var(--dark-green);
  }
  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
  }
  #ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }
  #ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
  }
  p {
    display: inline;
    font-size: 1.8rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
  }
  a {
    font-size: 1.6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
  }
  a::after {
    /* content: "\e806"; */
    display: inline-block;
    font-family: fontello;
    padding: 5px;
    font-size: 1.6rem;
    transform: rotate(-90deg);
  }
  .text {
    font-size: 2.5rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
  }
  .title {
    font-size: 3rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
    color: var(--icon-hover-bg);
    padding: 10px;
  }
  .heading {
    font-size: 6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "Patua One";
  }
  .centre-text {
    text-align: center;
  }
  .bold-text {
    font-weight: bold;
  }
  
  /* /nav bar */














  :root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
      margin-top: 122px;
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 68%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }


.sec4ou .sec4oudiv1 {
  text-align: center;
  margin-top: 50px;
  border: olive 1px solid;
}









  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  .sec1ouss{
    display: flex;
    justify-content: space-around;
    align-items: center;
      margin-top: -382px;
  }

  .sec1ouss .sec1div2img img{
    width: 300px;
    margin-top: 527px;
        margin-right: 200px;
        border-radius: 50px;
        border-radius: 200px;
  }

.titleouss{
  width: 400px;
  margin: 30px auto;
}
.titleouss h1, h2{
  text-align: center;
}

.sec1ouss .sec1oussd1{
width: 300px;
    margin: 100px auto;
    position: absolute;
    border-top: blueviolet 2px solid;
    cursor: pointer;
    transition: all ease 1s;
}

.sec1ouss .sec1oussd1:hover{
 border-bottom:blueviolet 2px solid ;
      border-top: hidden;
      cursor: pointer;
      transform: scale(1.2,1.2);
  }





.sec1ouss .sec1oussd1 h1{
  text-align: center;
}



/* social media */

  /* Style the Sticky icons social media on web page */
  .stickyicon-list {
    position: fixed;
    top: 300px;
    left: 10px;
    transform: translateY(-50%);
    z-index: 5;
    text-align: center;
    width: 50px;
  }
  .stickyicon-list a {
    display: block;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }

  /* HOver affect on sticky social media icons */
  .stickyicon-list a:hover {
    transform: scale(1.3, 1.3);
  }

  /* Now we have to design each icon of social media */
  .facebook {
    background: #3b5998;
    color: white;
    border-radius: 10px;
  }
  .twitter {
    color: white;
    background: #00acee;
    border-radius: 10px;
  }
  .linkedin {
    background: #0e76a8;
    color: white;
    border-radius: 10px;
  }

  .instagram {
    background: #9e109e;
    color: white;
    border-radius: 10px;
  }
  .youtube {
    color: white;
    background: #c4302b;
    border-radius: 10px;
  }
  .whatsapp {
    color: white;
    background: #37db21;
    border-radius: 10px;
  }


 /* /social media */


 /* downolad cv  */

/* 7 */
.sec4ou button {
  margin: 20px;
  position: fixed;
  bottom: 60px;
  z-index: 999;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }










/* footer */
.sec5ou .sec5oud1 img{
  width: 100%;

}

.sec5ou .wissbrand{
  margin-top: -20px;
  margin-left: 20px;
}




  @media (max-width:800px){
    .sec1ouss{
      flex-direction: column;

  }
  .sec1ouss .sec1div2img img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    margin-bottom: auto;
  }
  .hero-section{
    margin-top: 50px;
  
}
.sec1ouss{
  display: flex;
  justify-content: space-around;
  align-items: center;
    margin-top: -100px;
}
.ham-menu > ul > li {
  font-size: 1rem;
  text-decoration: none;
}
.sec1ouss .sec1oussd1{
  display: none;
}

}
  